# Node.js
node_modules/
*.lock
*-lock.json

# Parcel JS
.cache/
.parcel-cache/
*.scssc
.sass-cache/
.jampack/

# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata
/.bundle
/vendor

# Logfiles and tempfiles
*.log
/log/*
!/log/.keep
/tmp

# Other unneeded files
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
